body {
    font-family: 'Sour Gummy', sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
    color: #333;
}

.header {
    background-color: #f6cbdc;
    color: #5b3e2f;
    padding: 20px;
    text-align: center;
    border-bottom: 2px solid #e1e1e1;
}

.logo img {
    width: 120px;
}

.title h1 {
    font-family: 'Sour Gummy', serif;
    font-size: 2.5rem;
    margin: 10px 0;
}

.title p {
    font-family: 'Sour Gummy', serif;
    font-size: 1.2rem;
}

.form-container {
    background-color: #f6cbdc;
    max-width: 500px;
    margin: 30px auto;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #5b3e2f;
}

.form-group {
    margin-bottom: 20px;
}

label {
    font-family: 'Sour Gummy', serif;
    display: block;
    font-size: 1.1rem;
    margin-bottom: 5px;
    color: #555;
}

input[type="text"],
input[type="file"],
input[type="number"] {
    font-family: 'Sour Gummy', serif;
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
}

input[type="text"]:focus,
input[type="file"]:focus {
    border-color: #ff6f61;
    outline: none;
}

.submit-btn {
    font-family: 'Sour Gummy', serif;
    text-align: center;
}

button {
    font-family: 'Sour Gummy', serif;
    background-color: #ff6f61;
    color: white;
    border: none;
    padding: 12px 30px;
    font-size: 1.2rem;
    border-radius: 5px;
    cursor: pointer;

}

button:hover {
    background-color: #e45e51;
}

.icone img {
    cursor: pointer;
    width: 120px;
    opacity: 0.8;
}

.lol {
    display: flex;
    gap: 50px;
}

.tabela-produtos {
    font-family: 'Sour Gummy', serif;
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 18px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: #5b3e2f;

}

.tabela-produtos th,
.tabela-produtos td {
    border: 1px solid #ddd;
    padding: 12px;
}

.tabela-produtos th {
    background-color: #f4f4f4;
    color: #5b3e2f;
    font-weight: bold;
    text-transform: uppercase;
}

.tabela-produtos tr:hover {
    background-color: #f1f1f1;
}

.tabela-produtos img {
    width: 150px;
    height: auto;
    border-radius: 8px;
}

.tabela-produtos a {
    text-decoration: none;
}

footer {
    background-color: rgba(241, 194, 203, 0.9);
    opacity: 0.7;
    padding: 20px 0;
    text-align: center;
    margin-top: 40px;
}

footer .redes {
    margin-top: 10px;
}

footer .redes a {
    color: #453329;
    text-decoration: none;
    font-size: 24px;
    margin: 0 10px;
}

footer .redes a:hover {
    color: #7a5d4e;
}

footer .contact-info {
    margin-top: 15px;
    font-size: 20px;
}

footer .contact-info a {
    color: #453329;
    text-decoration: none;
    font-size: 24px;
    margin: 0 10px;
}

footer .contact-info a:hover {
    color: #7a5d4e;
}

.topico {
    margin-bottom: 10px;
    font-size: 14px;
    color: #453329;
    font-size: 18px;
}

.direitos-reservados {
    background-color: rgba(229, 153, 167, 0.9);
    text-align: center;
    padding: 10px;
    font-family: 'Sour Gummy', serif;
    font-size: 14px;
    color: #3a4046;
    opacity: 0.9;
}

.direitos-reservados p {
    margin: 0;
}