<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>site</title>
  <link rel="stylesheet" href="/static/style.css">
</head>

<body>
  <header>
    <div class="icone">
      <img src="/static/imagens/logo.png" alt="">
    </div>

    <div class="atalhos">
      <h2>Sweet Dream</h2>
    </div>
  </header>

  <main>
    <div class="container">
      <div class="meiao">
        <img src="/static/imagens/docestotal.jpg" alt="">
        <h2> Sweet Dream </h2>
        <p> Doces artesenais e bolos </p>
      </div>

      <div class="doces-pai">

        <div class="doces">
          <div class="produtos">
            <div class="imagens">
              <img src="/static/imagens/pudim.png" alt="">
            </div>
            <div class="texto">
              <h2>Pudim - 5R$</h2>
              <input type="button" value="Comprar">
            </div>
          </div>
        </div>
  
        <div class="doces">
          <div class="produtos">
            <div class="imagens">
              <img src="/static/imagens/briga.png" alt="">
            </div>
            <div class="texto">
              <h2>Brigadeiro (Chocolate) - 2R$</h2>
              <input type="button" value="Comprar">
            </div>
          </div>
        </div>
  
        <div class="doces">
          <div class="produtos">
            <div class="imagens">
              <img src="/static/imagens/beiji.png" alt="">
            </div>
            <div class="texto">
              <h2>Brigadeiro (Beijinho) - 2R$</h2>
              <input type="button" value="Comprar">
            </div>
          </div>
        </div>

        <div class="doces">
          <div class="produtos">
            <div class="imagens">
              <img src="/static/imagens/chocob.png" alt="">
            </div>
            <div class="texto">
              <h2>Brigadeiro (Branco) - 2R$</h2>
              <input type="button" value="Comprar">
            </div>
          </div>
        </div>
  
        <div class="doces">
          <div class="produtos">
            <div class="imagens">
              <img src="/static/imagens/bpbriga.png" alt="">
            </div>
            <div class="texto">
              <h2>Bolo de pote (Chocolate)  - 5R$</h2>
              <input type="button" value="Comprar">
            </div>
          </div>
        </div>

        <div class="doces">
          <div class="produtos">
            <div class="imagens">
              <img src="/static/imagens/bpbranco.png" alt="">
            </div>
            <div class="texto">
              <h2>Bolo de pote (Branco) - 2R$</h2>
              <input type="button" value="Comprar">
            </div>
          </div>
        </div>
  

        <div class="doces">
          <div class="produtos">
            <div class="imagens">
              <img src="/static/imagens/bolo.png" alt="">
            </div>
            <div class="texto">
              <h2>Bolo (Chocolate) - 3R$</h2>
              <input type="button" value="Comprar">
            </div>
          </div>
        </div>
  
        <div class="doces">
          <div class="produtos">
            <div class="imagens">
              <img src="/static/imagens/donuts.png" alt="">
            </div>
            <div class="texto">
              <h2>Donuts - 5R$</h2>
              <input type="button" value="Comprar">
            </div>
          </div>
        </div>
  
        <div class="doces">
          <div class="produtos">
            <div class="imagens">
              <img src="/static/imagens/cupcake.png" alt="">
            </div>
            <div class="texto">
              <h2>Cupcake - 5R$</h2>
              <input type="button" value="Comprar">
            </div>
          </div>
        </div>
      </div>
  </div>
  <footer>

  </footer>
</body>
</html>