<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>site</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="site">
        
        <header>
            <div class="icone">
              <img src="/static/imagens/logo.png" alt="">
            </div>

            <div class="logo">
              <h2>Sweet Dream</h2>
            </div>

            <div class="atalhos">
              <h2>Início</h2>
              <h2>Contatos</h2>
              <h2>Sobre</h2>
            </div>
        </header>
        
        <main>
          <div class="container">
             <div class="meiao">
               <img src="/static/imagens/docestotal.jpg" alt="">
               <h2> Sweet Dream </h2>
               <p> Doces artesenais e bolos </p>
             </div>
          </div>

          <div class="doces">
            <div class="produtos">
              <div class="imagens">
                  <img src="/static/imagens/pudim.png" alt="">
              </div>
              <div class="texto">
                <h2>Pudim - 5R$</h2>
                <input type="button" value="Comprar">
            </div>
          </div>


           <div class="doces">
            <div class="produtos">
              <div class="imagens">
                   <img src="/static/imagens/briga.png" alt="">
              </div>
              <div class="texto">
                <h2>Brigadeiro - 2R$</h2>
                <input type="button" value="Comprar">
            </div>
          </div>

            <div class="doces">
              <div class="produtos">
                <div class="imagens">
                     <img src="/static/imagens/beiji.png" alt="">
                </div>
                <div class="texto">
                  <h2>Beijinho - 2R$</h2>
                  <input type="button" value="Comprar">
                </div>
            </div>

            <div class="doces">
              <div class="produtos">
                <div class="imagens">
                     <img src="/static/imagens/bolo.png" alt="">
                </div>
                <div class="texto">
                  <h2>Bolo - 3R$</h2>
                  <input type="button" value="Comprar">
                </div>
            </div>

            <div class="doces">
              <div class="produtos">
                <div class="imagens">
                     <img src="/static/imagens/pote.png" alt="">
                </div>
                <div class="texto">
                  <h2>Bolo de pote - 5R$</h2>
                  <input type="button" value="Comprar">
                </div>
            </div>

            <div class="doces">
              <div class="produtos">
                <div class="imagens">
                     <img src="/static/imagens/donuts.png" alt="">
                </div>
                <div class="texto">
                  <h2>Donuts - 5R$</h2>
                  <input type="button" value="Comprar">
                </div>
            </div>

            <div class="doces">
              <div class="produtos">
                <div class="imagens">
                     <img src="/static/imagens/cupcake.png" alt="">
                </div>
                <div class="texto">
                  <h2>Cupcake - 5R$</h2>
                  <input type="button" value="Comprar">
                </div>
            </div>
              

              
   
    
    
      


    

      

    
    
    
</html>